body {
    background-color: #99cc00;
    color: #ffffff;
}

header {
    background-color: firebrick;
    height: 200px;
    width: 800px;
    margin: 100px;
    padding: 120px;
}

nav { 
    background-color: cadetblue;
}

main{
    background-color: darkgreen;
}

footer{
    background-color: cornflowerblue;
}