body {
    background-color:#282827;
    color: #ffffff;
}

img {
    max-width: 100%; 
    height: auto;
}

header {
    
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    background-position: center; 
}  

#index-header
{
    background-image: url(../images/extra1-copyright-darren-bradley.jpg);
}

#the-building-header
{
    background-image: url(../images/churchill-house-21.jpg);
    height: 25em;
    
}

#history-header
{
    background-image: url(../images/churchill-house-25.jpg);
    height: 25em;
}

#robin-boyd-header
{
    background-image: url(../images/churchill-house-4.jpg);
    height: 25em;
}



header nav {
    text-align: center; 
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black
}




header a {
    text-decoration: none;
    color: white;
    
}

.not-selected-heading {
    color: grey;
}



header a:hover {
    text-decoration: underline;
}



header li {
    display: inline; 
    padding-right: 2em;
    font-family: 'Maven Pro', sans-serif; 
 
}

@media only screen and (max-width: 500px) {
    header li {
        display: inherit;
        padding-bottom: 1em;
    } 

    header nav {
        padding-top: 2em;
    }
}

header h1 {
    text-align: center;
    padding-top: 1em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: black;
    padding-bottom: 1em;   
    border-bottom: 3px solid #684f1b;
}



main{
    
    color: white;
    line-height: 2.0em;
    font-family: 'Proza Libre', sans-serif;
    margin-top: 3em;
    
}

main p{
    text-align: center;
}





.footer-wrapper{
    margin-top: 200px;
    background-color: black;
    padding: 1em 10% 1em 10%;
    border-top: 3px solid #684f1b;
}

footer h1 a{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1em;
    background-color: black;
    padding-bottom: 1em;
    color: white;
    text-decoration: none;   
}

footer li{
    padding-top: 1em;
}

footer li a{
    color: white;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif; 
    font-size: 0.8em;
}

footer a:hover {
    text-decoration: underline;
}

footer h2{
    padding-top: 1.5em;
    color: #686864;
    font-family: 'Maven Pro', sans-serif; 
    padding-left: 0.4em;
    padding-bottom: 0.5em;
    background-color: black;
    font-size: 0.7em;
    text-align: center;
}



.index-grid-container{
  
    display: grid; 
    grid-template-columns: repeat(10,10% ); 
    grid-template-rows: repeat(60, 50px); 
    align-items: center;
      
}

.index-grid-menu:hover{
  outline: solid white;

  text-decoration: underline;
}


.index-grid-item1{
    grid-column-start: 2; 
    grid-column-end: 10; 
    grid-row-start: 2; 
    align-self: stretch;
    
}

.index-grid-item2{
  grid-column-start: 2; 
  grid-column-end: 5; 
  grid-row-start: 15; 
}

.index-grid-item3{
  background-color: #7B6538;
  grid-column-start: 4; 
  grid-column-end: 7;
  grid-row-start: 15; 
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  
}

.index-grid-item3 a{
  color: white;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}


.index-grid-item4{
  grid-column-start: 6; 
  grid-column-end: 10; 
  grid-row-start: 25; 
  
}

.index-grid-item5{
  background-color: #7B6538;
  grid-column-start: 4; 
  grid-column-end: 7;
  grid-row-start: 25; 
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  
}

.index-grid-item5 a{
  color: white;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.index-grid-item6{
  grid-column-start: 2; 
  grid-column-end: 6; 
  grid-row-start: 36; 
}

.index-grid-item7{
  background-color: #7B6538;
  grid-column-start: 4; 
  grid-column-end: 7;
  grid-row-start: 36; 
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.index-grid-item7 a{
  color: white;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.index-grid-item8{
  grid-column-start: 6; 
  grid-column-end: 10; 
  grid-row-start: 48; 
}

.index-grid-item9{
  background-color: #7B6538;
  grid-column-start: 4; 
  grid-column-end: 7;
  grid-row-start: 48; 
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.index-grid-item9 a{
  color: white;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}
@media only screen and (max-width: 750px) {

  .index-grid-container{
    grid-template-rows: repeat(45, 50px); 
  } 

  .index-grid-items a{
    font-size: 12px;
  }

  .index-grid-items{
    grid-column-start: 2;
    grid-column-end: 7;
    padding: 0% 0% 0% 0%;
  }
  
  .index-grid-item1{
    font-size: 15px;
  }

  .index-grid-item2{
    grid-row-start: 20;
  }

  .index-grid-item3{
    grid-row-start: 20;
    grid-column-start: 4;
    grid-column-end: 8;
  }

  .index-grid-item4{
    grid-row-start: 26;
    grid-column-start: 5;
    grid-column-end: 10;
  }

  .index-grid-item5{
    grid-column-start: 3;
    grid-row-start: 26;
  }

  .index-grid-item6{
    grid-row-start: 33;
  }
  .index-grid-item7{
    grid-row-start: 33;
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .index-grid-item8{
    grid-row-start: 40;
    grid-column-start: 5;
    grid-column-end: 10;
  }
  .index-grid-item9{
    grid-row-start: 40;
    grid-column-start: 3;
    grid-column-end: 7;
  }
}

@media only screen and (max-width: 500px) {

  .index-grid-container{
    grid-template-rows: repeat(50, 50px); 
  } 

  .index-grid-items a{
    font-size: 15px;
  }

  .index-grid-items{
    grid-column-start: 2;
    grid-column-end: 10;
    padding: 0% 0% 0% 0%;
  }
  
  .index-grid-item1{
    font-size: 15px;
  }

  .index-grid-item2{
    grid-row-start: 29;
  }

  .index-grid-item3{
    grid-row-start: 29;
  }

  .index-grid-item4{
    grid-row-start: 35;
  }

  .index-grid-item5{
    grid-row-start: 35;
  }

  .index-grid-item6{
    grid-row-start: 41;
  }
  .index-grid-item7{
    grid-row-start: 41;
  }
}




.grid-heading{
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Cormorant Garamond', serif;
}

/*Building Grid*/


.building-grid-container {
    padding-top: 3em;
    display: grid; 
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: repeat(50, 50px); 
    
    
  
}

.building-grid-item2 img {
  padding-bottom: 5em;
}

.building-grid-item1 img {
  padding-top: 5em;
  padding-bottom: 5em;
}


.building-grid-item1 { 
    
    grid-column-start: 2; 
    grid-column-end: 5; 
    grid-row-start: 1; 
  
    
    
  }
  .building-grid-item2 { 
    
    grid-column-start: 6; 
    grid-column-end: 10; 
    grid-row-start: 1; 

  
  }
  @media (max-width: 1200px) {

    .building-grid-container{
      font-size: 15px;
      grid-template-rows: repeat(60, 50px); 
      line-height: 1.7em;
    }
   
  }


  @media (max-width: 700px) {

    .building-grid-container {
     
      grid-template-rows: repeat(110, 50px); 
      align-items: stretch;    
  }
  
    .building-grid-container div{
      
      grid-column-start: 2;
      grid-column-end: 10;
      
    }

    .building-grid-item2 { 
      
      padding-top: 5em;
      grid-row-start: 46; 
  }
}

  @media (max-width: 700px) {

    .building-grid-container{
      grid-template-rows: repeat(98, 50px); 
    }

    .building-grid-item2 { 
     
      grid-row-start: 48; 
  }
  }

  /* Boyd Grid */

  .boyd-grid-container {
    padding-top: 3em;
    display: grid; 
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: repeat(60, 50px); 
    
}




  .boyd-grid-item1 { 
    
    grid-column-start: 2; 
    grid-column-end: 5; 
    grid-row-start: 1; 
   
  }

  .boyd-grid-item1 p {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  
  
  .boyd-grid-item2 { 
    
    grid-column-start: 6; 
    grid-column-end: 10; 
    grid-row-start: 1; 
  }

  .boyd-grid-item2 img {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  @media (max-width: 960px) {

    .boyd-grid-container {
      grid-template-rows: repeat(83, 50px); 
      line-height: 1.7em;
      font-size: 15px;

      
  }
  }

  @media (max-width: 500px) {

    .boyd-grid-container {
      grid-template-rows: repeat(100, 50px); 


      
  }

   .boyd-grid-container div{
     grid-column-start: 2;
     grid-column-end: 10;
   }

   .boyd-grid-item2{
     grid-row-start: 51;
   }
  }

  

  /*History Grid*/

  .history-grid-container{
    padding-top: 3em;
    display: grid; 
    grid-template-columns: repeat(10, 10%); 
    grid-template-rows: repeat(35, 50px); 
    
    margin-left: 5%;
    margin-right: 5%;
}

  .history-grid-item1 { 
    
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
  }

  .history-grid-item1 img {
    margin-top: 5em;
  }

  .history-grid-item2 { 
    
    grid-column-start: 6; 
    grid-column-end: 10; 
    grid-row-start: 2; 

  }

  .history-grid-item2 img { 
    
    margin-bottom: 5em;

  }

  @media (max-width: 1200px) {

    .history-grid-items{
      line-height: 1.7em;
      font-size: 15px;
    }
  }

  @media (max-width: 600px) {

    .history-grid-container{
      grid-template-rows: repeat(55, 50px);
    }

    .history-grid-items{
      grid-column-start: 1;
      grid-column-end: 10; 
    }

    .history-grid-item2{
      grid-row-start: 30;
    }
  }



/*Gallery Flexbox*/

  * {
    box-sizing: border-box;
  }

  .flexbox-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .flexbox-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .flexbox-column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .flexbox-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .flexbox-column {
      flex: 100%;
      max-width: 100%;
    }
  }


  

   
    
    
    
      
  

  





 









